<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<a class="link" href="/dist/view/user-login.html">登录</a>
				<a class="link register" href="/dist/view/user-register.html">注册</a>
			</span>
			<span class="user login">
				<span class="link-text">欢迎,
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
			</span>
		</div>
		<ul class="nav-list">
			<a class="link" href="./cart.html">
				<i class="fa fa-shopping-cart"></i>
				<li class="nav-item">购物车<span class="car-count">(0)</span>
				</li>
			</a>
			<li class="nav-item">
				<a class="link" href="./order-list.html">我的订单</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./user-center.html">我的E-MALL</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./about.html">关于E-MALL</a>
			</li>
		</ul>		
	</div>
</div>