/*
* @Author: Administrator
* @Date:   2017-06-26 11:49:37
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-26 12:32:31
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #3366FF;
}