/*
* @Author: Administrator
* @Date:   2017-07-15 15:34:02
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-16 12:59:07
*/
/*img{
	outline: none;
}*/

.large .bg{
	height: 225px;
	width:100%;
	outline: none;
}
.large .bg1{
	background: url('../../image/activity/bg_01.jpg') center;
}
.large .bg2{
	background: url('../../image/activity/bg_02.jpg') center;
}
.large .bg3{
	background: url('../../image/activity/bg_03.jpg') center;
}
.large .bg4{
	background: url('../../image/activity/bg_04.jpg') center;
	height: 249px;
}
.large .pointer{
	position: relative;
	background: url('../../image/activity/pointer.jpg') center;
	height: 243px;
	margin-top: 0px;
}
.large .pointer .pointer-head{
	position: absolute;
	display: block;
	/*top: -3px;
	left: -295px;*/
	right: 315px;
	top: 2px;
	width: 225px;
	height: 225px;
	cursor: pointer;
	transform-origin:50% 55%;
	transition:all 3s ease 0; 
	-moz-transition: width 2s; /* Firefox 4 */
	-webkit-transition: all 3s; /* Safari 和 Chrome */
	-o-transition: width 2s; /* Opera */
	outline: none;
}
#h{
	position: absolute;
	left: 380px;
	top: 120px;
	color: #444;
	font-size: 15px;
	text-align: center;
	padding: 10px;
}
span{
	text-align: center;
}
#h .name{
	margin-right: 60px;
	margin-left: -40px;
	
}
#h .award{
	margin-left: 30px;
	margin-right: -20px;
}
.large .bg6{
	position: relative;
	background: url('../../image/activity/bg_06.jpg') center;
	height: 183px;
	overflow: hidden;
}
.large .bg6 .btn-share{
	position: absolute;
	cursor: pointer;
	width: 230px;
	height: 70px;
	bottom: 38px;
	left: 375px;
}
/*分享样式*/
.share-modal{
	 position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    background: rgba(0,0,0,.4);
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
.EWM{
	background: #eee;
	width: 200px;
	height: 200px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
}
.EWM h3{
	color: orange;
	text-align: center;
	display: inline-block;
	margin-left: 15px;

}
.fa{
	float: right;
	font-size: 30px;
	margin:10px;
	cursor: pointer;
	color: orange;
}

.large .bg7{
	background: url('../../image/activity/bg_07.jpg') center;
}
.large .bg8{
	position: relative;
	background: url('../../image/activity/bg_08.jpg') center;
}
.bg8-ul{
	position: absolute;
	overflow: hidden;
	margin-right: -200px;
	top: 90px;
}
.bg8-ul .li1{
	margin-left: 235px;
}
.bg8-ul li{
margin-right: 30px;
margin-left: 35px;
cursor: pointer;
}
.large .bg9{
	background: url('../../image/activity/bg_09.jpg') center;
}
.large .bg10{
	position: relative;
	background: url('../../image/activity/bg_10.jpg') center;
}
.bg10-ul{
	position: absolute;
	overflow: hidden;
	top: 8px;
	left: 10px;
	margin-right: -200px;
}
.bg10-li1{
	margin-left: 370px;
}
.bg10-ul li{
	width:110px;
	height:55px;
	float:left;
	cursor: pointer;
	margin-right: 215px;
}
.large .bg11{
	background: url('../../image/activity/bg_11.jpg') center;
}
.large .bg12{
	position: relative;
	background: url('../../image/activity/bg_12.jpg') center;
}
.bg12-ul{
	overflow: hidden;
}
.bg12-ul .bg12-li1{
	float: right;
	margin-top: 0px;
	width:130px;
	height:40px;
	position: absolute;
	right: 220px;
	cursor: pointer;
}
.bg12-ul .bg12-li2{
	float: right;
width:130px;
	height:40px;
	position: absolute;
	right: 220px;
	bottom: 60px;
	cursor: pointer;
}
.large .bg13{
	background: url('../../image/activity/bg_13.jpg') center;
}
.large .bg14{
	background: url('../../image/activity/bg_14.jpg') center;
}
.large .bg15{
	background: url('../../image/activity/bg_15.jpg') center;
}
.large .bg16{
	background: url('../../image/activity/bg_16.jpg') center;
}
.large .bg17{
	background: url('../../image/activity/bg_17.jpg') center;
}
.large .bg18{
	background: url('../../image/activity/bg_18.jpg') center;
}
.large .bg19{
	background: url('../../image/activity/bg_19.jpg') center;
}
.large .bg20{
	background: url('../../image/activity/bg_20.jpg') center;
}
